
.casestudy-body {
	line-height: $base-font-size*1.4;
	margin: $card-margin;
	
	p, ul, h1, h2, h3, h4, h5, h6 {
		width: 50%;
		margin-left: auto;
		margin-right: auto;
	
		@include media($desktop) {
			min-width:500px;
			max-width: 700px; 
		}
		@include media($mobile) {
			width: 100%;
		}
		@include media($tablet-portrait) {
			width: 90%;
		}
		@include media($tablet) {
			width: 80%;
		}
	}
	.service-list {
		list-style: disc;
		padding-left: 1em;
	}
	h2, h3, h4, h5, h6 {
		font-weight: 500;
	}
	
}