
$card-padding: 4vw;

.footer-strip {
	@extend .base-card;
}

.footer-menu {
	padding: $card-padding;
	padding-bottom: 0;
	line-height: $base-font-size*1.5;
	a {
		color: $dark-gray;
		padding-bottom: 3px;
		border-bottom: 1px solid transparent;
		&:hover {
			border-bottom: 1px solid $dark-gray;
		}
	}
}

.footer-details {
	@extend .small-text;
	padding: $card-padding;
}

.footer-contactbox {
	background-color: rgba($pink, 0.75);
	color: $white;
	padding: $card-padding;
	p {
		@extend .small-text;
		width: 75%;
		margin-bottom: $base-font-size*2;
	}	
	a {
		color: $white;
		display: inline-block;
		padding-bottom: 3px;
		border-bottom: 1px solid transparent;
		&:hover {
			border-bottom: 1px solid $white;
		}
	}
	.phone-number {
		margin-bottom: $base-font-size;
	}
}

@include media($tablet) {
	.footer-menu {
		width: 50%;
		float: left;
		margin-bottom: $card-margin;
	}
	.footer-details {
		width: 50%;
		float: left;
		text-align: right;
	}
	.footer-contactbox {
		width: 100%;
		float: left;
	}
}

@include media($tablet-portrait) {
	.footer-menu {
		width: 50%;
		float: left;
		margin-bottom: $card-margin;
	}
	.footer-details {
		width: 50%;
		float: left;
		text-align: right;
	}
	.footer-contactbox {
		width: 100%;
		float: left;
	}
}

@include media($desktop) {
	.footer-menu {
		width: 20%;
		float: left;
	}
	.footer-details {
		width: 35%;
		float: left;
	}
	.footer-contactbox {
		width: 45%;
		float: left;
	}
}