

.gramble-item {

	&:hover, &:active, &:focus {
		color: $white;
	}
	&:before {
		content: "";
		display: block;
		padding-top: 100%; 	/* makes height = width */
	}
	
	width: 100%;
	display: block;
	overflow: hidden;
	color: white;
	background-color: $medium-gray;
	position: relative;
	
	.article-header {
		margin-right: $card-margin;
		border-bottom: 1px white solid;
		position: absolute;
		bottom: $base-font-size*2;
	}

	.title {
		width: 75%;
	}

	.excerpt {
		width: 80%;
	}

	> .background-image {
		@include transition(all 400ms ease-out);
		position: absolute;
		top: 0;
		opacity: 0.6;
	}

	.readmore-link {
		bottom: $base-font-size*0.9;
		position: absolute;
		display: block;
		width: calc(100% - 8vw);
		opacity: 0;
		@include transition(all 300ms ease-out);
	}
	&:hover .grambleitem-content {
		background-color: rgba($pink, 0.8);
	}
	&:hover .readmore-link { 
		opacity: 1;
	}
	&:hover .background-image {
		@include transform(scale(1.05));
	}
}

.grambleitem-content {
	@include transition(all 300ms ease-out);
	position: absolute;
	top: 0;
	margin: $card-margin;
	height: calc(100% - 8vw);
	padding-left: $card-margin;
	padding-right: $card-margin;
	width: calc(100% - 8vw);
	&:active {
		@include transform(scale(0.95));
	}
}

