
.nav-menu {
	position: fixed;
	background-color: rgba($dark-gray, 0.9);
	width: 100%;
	height: 100%;
	z-index: 3;
	top: 0;
	@include transform(translateX(-100%));
	@include transition(all 0.5s ease-in-out);
}

.nav-menu-open .nav-menu {
	@include transform(translateX(0));
}

main {
	position: relative;
	left: 0;
	//@include transition(all 0.5s ease-in-out);
}

.nav-menu-open main {
	//left: 100%;
}

body {
	overflow-x: hidden;
}

// nav menu styling

.nav-menu-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	font-size: $base-font-size*1.2;
	line-height: $base-font-size*1.4;
	padding: 15vh 30vw;
	ul {
		margin-top: $card-margin;
	}
	li {
		margin-bottom: $base-font-size;
	}
	a, a:hover, a:active, a:focus {
		color: $white;
		padding-bottom: 5px;
		border-bottom: 1px solid transparent;
	}
	a:hover {
		border-bottom: 1px solid $white;
	}
	@include media($mobile) {
		padding: 5vh 5vw;
	}
}

// overlay header styles

.nav-menu-open .sticky-header {
	background-color: rgba($dark-gray, 0);
	color: $white;
	.cmn-toggle-switch span {
		@include transition(all 0.5s ease-in-out);
		background: $white;
		&:after, 
		&:before {
			@include transition(all 0.5s ease-in-out);
			background-color: $white;	
		}
	}
}




