
$round-button-width: $card-margin;
$round-button-color: $pink;

.round-button {
	width: $round-button-width;
	height: $round-button-width;
	border-radius: $round-button-width/2;
	background-color: $round-button-color;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	@include transition(all 0.3s ease-in-out);
	img {
		max-width: 40%;
		max-height: 40%;
	}
	&:hover {
		@include transform(scale(1.05));
	}
	&:active {
		@include transform(scale(0.95));
		@include transition(all 0.05s ease-in);
	}
	@include media($mobile) {
		width: $round-button-width*4;
		height: $round-button-width*4;
		border-radius: $round-button-width*2;
	}
}