
$desktop-overlay-width: 40%;

.site-header {
	@extend .base-card;
	color: white;
	background-color: rgba($blue, 0.8);

	.logo {

	}

	.intropara {
		@extend .small-text;
	}
	@include media($desktop) {
		position: absolute;
		top: 0;
		width: $desktop-overlay-width;
		height: calc(100% - 8vw);
	}
}