
$desktop-overlay-width: 40%;
$tablet-overlay-width: 50%;

.site-header {
	@extend .base-card;
	color: white;
	background-color: rgba($blue, 0.8);

	.logo {
		font-size: $base-font-size*1.2;
	}

	.cmn-toggle-switch {
		margin-bottom: $card-margin;
		display: block;
	}

	.intropara {
		@extend .small-text;
	}
	@include media($desktop) {
		position: absolute;
		top: -$card-margin;
		width: $desktop-overlay-width;
		height: 100%;
	}
}