
.sticky-header {
	padding: $card-margin/2 $card-margin;
	margin-top: -$card-margin/2;
	margin-bottom: -$card-margin/2;
	background-color: $white;
	.logo {
		margin-bottom: 0;
		line-height: 1.4em;
	}
	.cmn-toggle-switch {
		float: left;
		margin-right: 20px;
		&:hover, &:active, &:focus {
			background-color: $white;
		}
	}
}