
.sticky-header {
	padding: $card-margin/2 $card-margin;
	margin-top: -$card-margin/2;
	margin-bottom: -$card-margin/2;
	background-color: rgba($white, 1);
	@include transition(all 0.5s ease-in-out);
	.logo {
		margin-bottom: 0;
		line-height: 1.4em;
	}
	.cmn-toggle-switch {
		float: left;
		margin-right: 20px;
	}
}

.sticky-header.cloned {
	z-index: 100 !important;
}