{{> header}}
  <h1>Hello, I am a content page</h1>
  {{> case-study label="Case Study" title="Making personal data into useful data" excerpt="We acted as CTRLio&rsquo;s CTO and product team, providing the support, knowledge and skills they needed to get their company started." img="/images/jon-post.jpg"}}
  <h2>This is a second-level header</h2>
  {{> case-study label="Case Study" title="Something else that we did" excerpt="We nailed all this stuff down like." img="/images/jon-post.jpg"}}
  <p>Lovely <em>stuff</em> <strong>here</strong></p>
{{> footer }}
