// Typography

$apercu: "Apercu", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
$base-font-family: $apercu;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.3;
$heading-line-height: 1;

// Other Sizes
$base-border-radius: 0px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #0696E3;
$pink: #E30641;
$green: #75CEB2;
$yellow: #F6CF32;
$white: #FFFFFF;

$dark-gray: #111;
$medium-gray: #343434;
$light-gray: #F0F7F9;

// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
