<section class="gramble-container">
  <header class="section-header">
    <h1>Gramble</h1>
    <p class="intropara">This is the Gramble</p>
  </header>
  {{>gramble-item title="The Robots Are Coming" excerpt="John Lanchester on what automation means for economies (and people)" img="/images/metropolis.jpg"}}
  {{>gramble-item title="Minimum Viable Audience" excerpt="Build an audience before you build a business"}}
  {{>gramble-item title="Seneca" excerpt="Micro-services toolkit for Node.js" img="/images/seneca.jpg"}}
  {{>gramble-item title="Writing code for humans" excerpt="Writing JavaScript like poetry"}}
  {{>gramble-item title="Schumpeter: Author-preneurship" excerpt="How to game best seller lists! Cites Eric Ries' Lean Startup" img="/images/books.jpg"}}
  {{>gramble-item title="Prose.io" excerpt="A content editor for GitHub"}}
  <br class="clear-both">
  <a href="#" class="gramble-morebtn">
    <!-- @include images/icon-more.svg -->
  </a>
</section>
