<section class="home-hero">
	<div class="cover-image-container"></div>
	<div class="casestudy-nav">
		<a href="#" class="previous disabled">Prev</a>
		<a href="#" class="viewcase">View Case</a>
		<a href="#" class="next">Next</a>
	</div>
	<a href="#" class="zoom-button">
		<!-- @include images/icon-zoom.svg -->
	</a>
	<a href="#" class="next-button">
		<!-- @include images/icon-next.svg -->
	</a>
	<div class="site-header">
		<header>
			<button class="cmn-toggle-switch -white cmn-toggle-switch__htra">
	        	<span>toggle menu</span>
	        </button>
			<h1 class="logo">Penrose.</h1>
			<p class="intropara">Hello! We provide technology strategy, design and development services to help our clients make the world a nicer place to be.</p>
		</header>
	</div>
	{{> case-study label="Case Study" title="Making personal data into useful data" excerpt="We acted as CTRLio&rsquo;s CTO and product team, providing the support, knowledge and skills they needed to get their company started." img="/images/jon-post.jpg"}}
</section>
